<%= form_for(@medium) do |f| %>
  <% if @medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% @medium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :soundcloud_id %><br />
    <%= f.text_field :soundcloud_id %>
  </div>
  <div class="field">
    <%= f.label :hashtag %><br />
    <%= f.text_field :hashtag %>
  </div>
  <div class="field">
    <%= f.label :originally_broadcast_at %><br />
    <%= f.datetime_select :originally_broadcast_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
